*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: white;

}
.game{
    border-bottom: 1px solid;
    width: 300px;
    height: 800px;
    position: relative;
    overflow: hidden;
}
.dinossauro{
    width: 280px;
    height: 130px;
    background-image: url(png-transparent-dino-t-rex-runner-tyrannosaurus-dino-chrome-dinosaur-game-angle-white.png);
    bottom: 0;
    position: absolute;
   
}
.animar{
    animation: personagem 500ms infinite ;
}

@keyframes personagem{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
    
    
}
.cacto{
    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 130px;
    left: 480px;
    animation: quadrado 2s infinite linear;
}
@keyframes quadrado{
    0%{left: 480px;}
    100%{left: -40px;}
}

.Score{
    position: absolute;
    top: 30px;
    left: 0;
    font-size: x-large;
}